

  <h1>Haushaltsbuch</h1>

  <div id="main">

    <table>
      <tr>
        <th>Datum</th>
        <th>Kategorie</th>
        <th>Ausgabe</th>

      </tr>

      <% @haushalt.each do |haushalt| %>

          <tr>
            <td> <%= haushalt.datum %> </td>
            <td> <%= haushalt.kategorie %> </td>
            <td> <%= number_to_currency(haushalt.betrag, :unit=>' ') %> </td>
            <td> <%= link_to 'edit', edit_haushalt_path(haushalt.id) %></td>
          </tr>

      <% end %>
          <tr>
            <td> Summe </td>
            <td></td>
            <td> <%= number_to_currency(Haushalt.summe, :unit=>' ') %> </td>
          </tr>
    </table>

    <%= link_to "Neuer Eintrag", new_haushalt_path %>

  </div>
