<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//DE"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Haushaltsbuch") %></title>
    <%= stylesheet_link_tag 'application', 'jquery' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'ui.datepicker-de', 'application', :cache => true %>
    <%= yield(:head) %>
  </head>
  <body>

    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <div id="user_nav">
        <% if current_user %>
            <%= link_to "Profil ändern", edit_user_path(:current) %>
            nicht <%= current_user.username %>?
            <%= link_to "Logout", logout_path %>
        <% else %>
             <%= link_to "Anmelden", new_user_path %> |
             <%= link_to "Login", login_path %>
        <% end %>
      </div>
		

      
     <%- if show_title? -%>
       <h1><%=h yield(:title) %></h1>
     <%- end -%>
     
  	
      <%= yield %>
    
	</div>
	
  </body>
</html>
